.layout404 {
  &-bg {
    position: fixed;
    left: 0;
    top: 0;
    background-image: url(https://images.tuyacn.com/rms-static/1cd99aa0-ad85-11ea-b284-05fb73bbbccd-1592059781450.png?tyName=404.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }
  &-content {
    z-index: 2;
    position: fixed;
    left: 20%;
    top: 28%;
    &-title {
      font-size: 48px;
    }
    &-subTitle {
      font-size: 16px;
      margin-top: 16px;
    }
  }
}
